# This file for loading the environment variables using dotenv
# Add account settings and API keys here.
# This file should be listed in .gitignore to keep your settings secret!
# Each entry gets set as a local environment variable.
# This file overrides ENV variables in the Unix shell.
# For example, setting:
# APP_HOST='app_host_url'
# makes 'app_host_url' available as ENV["APP_HOST"]
APP_HOST='https://www.google.com'
API_HOST='api_host'
TEST_USER={ username:'username', password:'password' }
TOKEN='Token'